<div class="panel-body">
	<div class="row">
		<div class="col-md-4 col-md-offset-1">

			<%= pie_chart({"" => 500}) %>

			<div class="has-success has-feedback">
				<label class="control-label" for="inputSuccess4">Drive selected</label>
				<input type="text" class="form-control" value="Seagate ST1000080" disabled>
				<span class="glyphicon glyphicon-ok form-control-feedback"></span>
			</div>

		</div>
		<div class="col-md-5 col-md-offset-1">
			<div class="well">

				<ul class="list-group">
					<li class="list-group-item list-group-item-success">
						Please select a file system type

					</li>
					<li class="list-group-item">
						<label>
							<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
							Ext4 </label>

					</li>
					<li class="list-group-item">
						<label>
							<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
							NTFS </label>

					</li>
					<li class="list-group-item">
						<label>
							<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
							FAT32 </label>

					</li>

				</ul>

				<label>
					<input type="checkbox" value="">
					Format Disk </label>

			</div>

		</div>

	</div>
	<div class="row">

		<div class="row">
			<ul class="pager">
				<li class="previous">
					<%= link_to select_path do %>
					&larr; Back
					<% end %>
				</li>
				<li class="next">
					<%= link_to manage_path do %>
					Next &rarr;
					<% end %>
				</li>
			</ul>

		</div>
	</div>
</div>