<div class="panel-body">
	<div class="row">
		<div class="">
			<table class="table table-bordered table-hover">

				<thead>
					<tr>
						<th>Select</th>
						<th>Model</th>
						<th>Device</th>
						<th>Type</th>
						<th>Format</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
						<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" />
						</td>
						<td>Seagate ST1000080</td>
						<td>/dev/sdc</td>
						<td>Ext4</td>
						<td><label>
							<input type="checkbox" value="">
							Format Disk </label></td>
					</tr>
					<tr>
						<td>
						<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" />
						</td>
						<td>WesternDigital WD1450</td>
						<td>/dev/sdd</td>
						<td>FAT</td>
						<td><label>
							<input type="checkbox" value="">
							Format Disk </label></td>
					</tr>
				</tbody>

			</table>

		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Disks Currently in Use</h3>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-6 ">
						<h5>Disk 1 <span class="label label-default"> 700GB</span></h5>
						<%=
						pie_chart({"sda1: #{250}GB" => 250,"sda2: #{300}GB" => 300,"sda3: #{150}GB" => 150},\
						library: {legend: {position: 'top'}, \
						is3D: true, \
						pieSliceText: 'percentage', \
						tooltip: {text: 'percentage' }, \
						width: 400, \
						slices: [{color: '#A44585'},{color: '#00B5F0'}] \
						})
						%>

					</div>
					<div class="col-md-6">
						<h5>Disk 2 <span class="label label-default"> 320GB</span></h5>
						<%=
						pie_chart({"sdb1: #{220}GB" => 250,"sdb2: #{100}GB" => 300},\
						library: {legend: {position: 'top'}, \
						is3D: true, \
						pieSliceText: 'percentage', \
						tooltip: {text: 'percentage' }, \
						width: 400, \
						slices: [{color: '#A44585'},{color: '#00B5F0'}] \
						})
						%>

					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<ul class="pager">
				<li class="previous disabled">
					<a href="#">&larr; Back</a>
				</li>
				<li class="next">
					<%= link_to file_system_path do %>
					Next &rarr;
					<% end %>
				</li>
			</ul>

		</div>
	</div>
</div>