<div class="jumbotron small">
	<h3>Amahi Disk Wizard(Prototype)</h3>
	<p >
		Disk wizard provides a hassle free service to mounting,partitioning,formatting of newly attached storage devices to the HDA.Users few clicks away from getting there devices ready to work with the system.
	</p>
	<p>
		<%= link_to "Try New Disk Wizard", select_path, class: "btn btn-primary btn-lg", "role" => "button" %>
	</p>
</div>