<div class="row text-center" style="margin-top: 10px">
	<div class="col-md-12">
		<div class="panel panel-default">

			<ul class="nav nav-pills nav-justified">
				<li class="active">
					<a href="#">Select new drive <span class="glyphicon glyphicon-chevron-right"></span> </a>
				</li>
				<li class="disabled">
					<a href="#">Choose file system <span class="glyphicon glyphicon-chevron-right"></span> </a>
				</li>
				<li class="disabled">
					<a href="#">Format new drive <span class="glyphicon glyphicon-chevron-right"></span> </a>
				</li>
				<li class="disabled">
					<a href="#">Done <span class="glyphicon glyphicon-ok"></span> </a>
				</li>

			</ul>
			
			<%= yield %>

		</div>
	</div>
</div>
